<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id='container'>
        <div id='add_book'>
            <h1>Add a Book</h1>
            <form action="/add_book" method="POST">
                {% csrf_token %}
                <label for='title'>Title</label>
                <input type='text' name='title' id="title"><br>
                <label for='desc'>Description</label>
                <input type="text" name='desc' id='desc' style="height: 150px"><br>
                <button>Add</button>
            </form>
        </div>

        <div id='book'>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
                <tr>
                    {% for book in books %}
                </tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td><a href='/book/{{book.id}}'>View</a></td>
                {% endfor %}
                </tr>
            </table>
        </div>
    </div>

</body>

</html>